<div class="header">
    <div class="header__logo-container">
        <img src="../../images/logo.png" class="header__logo-container__img">
    </div>

    <div class="header__links">
        <div class="header__links__component">
            <a id="main">Главная</a>
        </div>
        <div class="header__links__component">
            <a id="recomend">Рекомендации</a>
        </div>
        <div class="header__links__component">
            <a id="best">Бестселлеры</a>
        </div>
    </div>

    <div class="header__account-container">
        <button id="login-button" class="header__account-container__button">Войти</button>
    </div>
</div>