<div class="header">
    <div class="header__logo-container">
        <img src="../../images/logo.png" class="header__logo-container__img">
    </div>
    <div class="header__account-container">
        <button class="header__account-container__button">Войти</button>
    </div>
</div>