@use "components/Header/Header.sass";
@use "components/BookCard/BookCard.sass";
@use "components/AuthPopup/AuthPopup.sass";
@use "components/MainPage/MainPage.sass";
@use "components/BookPage/BookPage.sass";
@use "components/ReadBooksPage/ReadBooksPage.sass";
@use "components/AuthorPage/AuthorPage.sass";

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter.ttf");
}

@font-face {
    font-family: Parisienne-Regular;
    src: url("./fonts/Parisienne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 30px 0px 10px;
}

body {
    font-family: Inter, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
}
