@use "components/Header/Header.sass";
@use "/components/BookCard/BookCard.sass";
@use "/components/AuthPopup/AuthPopup.scss";
@use "/components/MainPage/MainPage.sass";

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
}
