<div class="book-card js-book-card">
    <div class="book-card__image-container">
        <img
            class="book-card__image"
            src="https://www.gutenberg.org/cache/epub/{{id}}/pg{{id}}.cover.medium.jpg"
        />
    </div>
    <p class="book-card__author-name js-author-name">{{authorName}}</p>
    <p class="book-card__book-title">{{bookTitle}}</p>
</div>