<div class="main-page">
    <form class="search-container js-search-form">
        <input
            type="text"
            class="search-input js-search"
            placeholder="Поиск..."
        />
        <button class="search-button">🔍</button>
    </form>

    <div class="books-grid">
        <h1>Главная</h1>
        <div class="books-grid__books js-books-container">
        </div>
    </div>
</div>