<div class="main-page">
    {{! <form class="search-container js-search-form">
        <input
            type="text"
            class="search-input js-search"
            placeholder="ะะพะธัะบ..."
        />
        <button class="search-button">๐</button>
    </form> }}

    <div class="books-grid">
        <h1>ะะตัััะตะปะปะตัั</h1>
        <div class="books-grid__books js-books-container">
        </div>
    </div>
</div>