<div id="content" class="content">
    <div class="content__information">
        <div class="content__information__img-container">
            <img src="{{this.photo}}" class="content__information__img-container__img">
        </div>
        <div class="content__information__info">
            <p class="content__information__info__title">{{this.name}}</p>
            <p class="content__information__info__p">Автор: {{this.author}}</p>
            <p class="content__information__info__p">Рейтинг читателей: {{this.rating}}</p>
        </div>
    </div>
    
    <div class="content__read-online">
        <p class="content__read-online__title">Читать онлайн</p>
        <a><img id="arrow" src="../../images/svg/arrow-right.svg" width="30px" height="30px" class="content__read-online__arrow"></a>
    </div>
    <div id="text" class="content__text"></div>
</div>